//- login.pug

extends layout

block content
	p Log In
	form(method="post" action="/users/cabinet" onsubmit="return isValidForm_2()")
		input(placeholder='Login' id="twitter_name_login" name="twitter_name_login" required)
		input(type='password' placeholder='Passwrod' name="password_login" required)
		input(type='Submit' value='Log In')
	p #{error}
	script(src='/javascripts/mask_twitter.js')