extends layout

block content
    form(action="/users/add")
        p Input your name here
        input.form-control(type="text" name="firstName")
        input.form-control(type="text" name="lastName")
        button(type="submit") Send
